<div>
    <h6 class="justify-content-center align-items-center text-center">ACTIONS</h6>
    <div class="col">
        <input (click)="send_actions('abort')" class="justify-content-center align-items-center text-center abort" type="submit"
            value="ABORT" />
        <input (click)="send_actions('retry')" class="justify-content-center align-items-center text-center retry" type="submit"
            value="RETRY" />
        <input (click)="send_actions('stop')" class="justify-content-center align-items-center text-center stop" type="submit"
            value="STOP" />
    </div>
</div>