<table class="table table-borderless" style="width: 100%; height: 100%;">
   <tbody>
      <tr>
         <th scope="row" style="color: #6c757d;">Plan: </th>
         <td class="text-center col-6">
            <div class="progress">
               <div class="progress-bar" id="bar-plan" role="progressbar" style="width: {{plan_value}}%;" attr.aria-valuenow="{{plan_value}}" attr.aria-valuemin="{{min_value}}" attr.aria-valuemax="{{max_value}}">70%</div>
            </div>
         </td>
      </tr>
      <tr>
         <th scope="row" style="color: #6c757d;">Actual: </th>
         <td class="text-center col-6">
            <div class="progress">
               <div class="progress-bar" id="bar-actual" role="progressbar" style="width: {{actual_value}}%;" attr.aria-valuenow="{{actual_value}}" attr.aria-valuemin="{{min_value}}" attr.aria-valuemax="{{max_value}}">35%</div>
            </div>
         </td>
      </tr>
   </tbody>
</table>