label
{
	font-family: Helvetica;
	color: #e4b503;
}
table
{
	font-family: Helvetica;
	font-size: 12;
	color: #e4b503;
}
/* Sensor database information. */
#sensors_info
{
	/* z-index: 2; */
	/* height: 470px; */
	width: calc(30vw - 4% - 50px);
	position: absolute;
	padding:5%;
	bottom: 0;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	background: #00000020;
}
.sensors_title
{
	/* position: relative; */
	/* top: 0px; */
	text-align: center
}
.categories
{
	color: white;
	/* position: relative; */
	/* top: 50px; */
	/* right: 10px */
}

pre
{
	color: white;
}

.rotateimg90
{
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}