<!-- <div class="card border-warning bg-transparent"> -->
	<!-- <div class="card-header text-warning text-center">
		EVA
	</div> -->
	<!-- <div class="card-body bg-black"> -->
		<!-- <div id="EVA"> -->
<div class="container-fluid">
	<div class="row">
		<!-- <div class="col-xs-12 text-center"> -->
		<div class="col">
			<img class="card-img-top" src="/static/assets/Sensors/EVA1A.png" alt="EVA 1 img" height="300px" width="10px"/>
		</div>
		<div class="col">
			<img class="card-img-top" src="/static/assets/Sensors/EVA2A.png" alt="EVA 2 img" height="300px" width="10px"/>
		</div>
		<div class="col">
			<img class="card-img-top" src="/static/assets/Sensors/EVA3A.png" alt="EVA 3 img" height="300px" width="10px"/>
		</div>
		<div class="col">
			<img class="card-img-top" src="/static/assets/Sensors/EVA4A.png" alt="EVA 4 img" height="300px" width="10px"/>
		</div>
		<div class="col">
			<img class="card-img-top" id="embudo" src="/static/assets/Sensors/EVA5.png" alt="EVA 5 img" height="300px" width="10px"/>
		</div>
	</div>
</div>
		<!-- </div> -->
	<!-- </div> -->
<!-- </div> -->
