<div class="card">
  <div class="card-body">
    <div class="row">
    <div class="col">
    <h2> Telemetry </h2>
  </div>
  </div>

  <div class="row">
    <div class="col">
      Distance 'x' from start point
      <input disabled id="latitude_gui" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
  </div>
  <div class="col">
    Distance 'y' from start point
    <input disabled id="longitud_gui" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
</div>
  </div>

  <div class="row">
    <div class="col">
      IMU Azimuth
      <input disabled id="azimuth_gui" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
  </div>
  <div class="col">
    Lineal Speed
    <input disabled id="l_speed_gui" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
</div>
  </div>

  <div class="row">
    <div class="col">
      Steering Speed
      <input disabled id="teering_gui" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
  </div>
  <div class="col">
    Physical Joystick Sensibility
    <input disabled id="sensibilidad_jk_fisico" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
</div>
  </div>

  <div class="row">
    <div class="col">
      Left PWM
      <input disabled id="PWM_I" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
  </div>
  <div class="col">
    Right PWM
    <input disabled id="PWM_D" name="field1" style="background: white;color:black;width: 100%;display: inline-block;" /> 
</div>
  </div>


  </div>
</div>