<div>
    <h6 class="justify-content-center align-items-center text-center">SISTEMA DE EXTRACCIÓN B</h6>
    <div class="col">
        <select class="justify-content-center align-items-center text-center" id="command" name="command" required
            #command style="margin-bottom: 1.5rem;">
            <option value=1>VB</option>
            <option value=2>GA</option>
            <option value=3>GC</option>
        </select>
        <input (click)="send_selection()" class="justify-content-center align-items-center text-center" type="submit"
            value="Enviar" />
    </div>
</div>