button{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 6px;
	padding-left: 6px;
	margin-left: 3px;
	background-color: transparent;
	border-color: transparent;
}

.button_left{
	margin-right: 3px;
}

.button_right{
	margin-left: 3px;
}

table { 
  border-collapse: collapse;
  margin-bottom: 0vh;
  margin-top: 0vh;
} 

td, th{
	padding: 0px;
}

#joint1, #joint2, #joint3, #joint4, #joint5, #joint6, #joint7, #gripper{
	width: 50px;
}