<table class="table table-borderless" style="width: 100%">
  <tbody>
    <tr class="align-middle">
      <th class="align-middle" scope="row">J1</th>
      <td class="align-middle">
        <button
          (mousedown)="change_value('joint_1', 'decrease')"
          (mouseup)="stop_changing_value('joint_1')"
          id="1_ATRAS"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center col-6 align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
          min-width: 20vh;
          max-width: 20vh;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              joint_1_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ joint_1_value }}"
            attr.aria-valuemin="{{ min_value_joint }}"
            attr.aria-valuemax="{{ max_value_joint }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="1_ADELANTE"
          (mousedown)="change_value('joint_1', 'increase')"
          (mouseup)="stop_changing_value('joint_1')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ joint_1_value }}°"
          id="joint1"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">J2</th>
      <td class="align-middle">
        <button
          id="2_ATRAS"
          (mousedown)="change_value('joint_2', 'decrease')"
          (mouseup)="stop_changing_value('joint_2')"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              joint_2_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ joint_2_value }}"
            attr.aria-valuemin="{{ min_value_joint }}"
            attr.aria-valuemax="{{ max_value_joint }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="2_ADELANTE"
          (mousedown)="change_value('joint_2', 'increase')"
          (mouseup)="stop_changing_value('joint_2')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ joint_2_value }}°"
          id="joint2"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">J3</th>
      <td class="align-middle">
        <button
          id="3_ATRAS"
          (mousedown)="change_value('joint_3', 'decrease')"
          (mouseup)="stop_changing_value('joint_3')"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              joint_3_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ joint_3_value }}"
            attr.aria-valuemin="{{ min_value_joint }}"
            attr.aria-valuemax="{{ max_value_joint }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="3_ADELANTE"
          (mousedown)="change_value('joint_3', 'increase')"
          (mouseup)="stop_changing_value('joint_3')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ joint_3_value }}°"
          id="joint3"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">J4</th>
      <td class="align-middle">
        <button
          id="4_ATRAS"
          (mousedown)="change_value('joint_4', 'decrease')"
          (mouseup)="stop_changing_value('joint_4')"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              joint_4_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ joint_4_value }}"
            attr.aria-valuemin="{{ min_value_joint }}"
            attr.aria-valuemax="{{ max_value_joint }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="4_ADELANTE"
          (mousedown)="change_value('joint_4', 'increase')"
          (mouseup)="stop_changing_value('joint_4')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ joint_4_value }}°"
          id="joint4"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">J5</th>
      <td class="align-middle">
        <button
          id="5_ATRAS"
          (mousedown)="change_value('joint_5', 'decrease')"
          (mouseup)="stop_changing_value('joint_5')"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              joint_5_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ joint_5_value }}"
            attr.aria-valuemin="{{ min_value_joint }}"
            attr.aria-valuemax="{{ max_value_joint }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="5_ADELANTE"
          (mousedown)="change_value('joint_5', 'increase')"
          (mouseup)="stop_changing_value('joint_5')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ joint_5_value }}°"
          id="joint5"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">J6</th>
      <td class="align-middle">
        <button
          id="6_ATRAS"
          (mousedown)="change_value('joint_6', 'decrease')"
          (mouseup)="stop_changing_value('joint_6')"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              joint_6_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ joint_6_value }}"
            attr.aria-valuemin="{{ min_value_joint }}"
            attr.aria-valuemax="{{ max_value_joint }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="6_ADELANTE"
          (mousedown)="change_value('joint_6', 'increase')"
          (mouseup)="stop_changing_value('joint_6')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ joint_6_value }}°"
          id="joint6"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">GR</th>
      <td class="align-middle">
        <button
          id="gripper_ATRAS"
          (mousedown)="change_value('gripper', 'decrease')"
          (mouseup)="stop_changing_value('gripper')"
          type="button"
          class="btn btn-secondary button_left"
        >
          <i class="fas fa-angle-left fa-2x"></i>
        </button>
      </td>
      <td
        class="align-middle"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 0px;
          padding-right: 0px;
        "
      >
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{
              gripper_value
            }}%; margin-left: 0px; margin-right: 0px;"
            attr.aria-valuenow="{{ gripper_value }}"
            attr.aria-valuemin="{{ min_value_gripper }}"
            attr.aria-valuemax="{{ max_value_gripper }}"
          ></div>
        </div>
      </td>
      <td class="align-middle">
        <button
          id="gripper_ADELANTE"
          (mousedown)="change_value('gripper', 'increase')"
          (mouseup)="stop_changing_value('gripper')"
          type="button"
          class="btn btn-secondary button_right"
        >
          <i class="fas fa-angle-right fa-2x"></i>
        </button>
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ gripper_value }}°"
          id="gripper"
        />
      </td>
    </tr>
    <tr class="align-middle">
      <th class="align-middle" scope="row">PER</th>
      <td
        class="align-middle"
        colspan="3"
        class="text-center align-middle"
        style="
          margin-left: 0px;
          margin-right: 0px;
          padding-left: 1.2rem;
          padding-right: 1.2rem;
        "
      >
        <input
          style="width: 100%"
          type="range"
          class="form-range"
          min="0"
          max="100"
          id="percentage"
          #percentage
          (change)="change_value_percentage(percentage.value);"
          (input)="update_percentage(percentage.value);"
        />
      </td>
      <td class="align-middle">
        <input
          disabled
          style="color: black; font-size: 15px"
          name=""
          value="{{ percentage_value }}%"
          id="percentage"
        />
      </td>
    </tr>
  </tbody>
</table>
