label{
		font-family: Helvetica;
}
.button_disabled_motors{
		background:#cc6868;
		border:0;
		color:#fff;
		font-size:20px;
		width:100%;
		display:block;
		cursor:pointer;
		font-family: Helvetica;
		border-radius: 20px;
		/*margin-top: 5px;
		padding:3px;*/
}
.button_disabled_motors:active{
		background-color: #944949;
}

.button_enabled_motors{
		background:#449850;
		border:0;
		color:#fff;
		font-size:20px;
		width:100%;
		display:block;
		cursor:pointer;
		font-family: Helvetica;
		border-radius: 20px;
		/*margin-top: 5px;
		padding:3px;*/
}	
.button_enabled_motors:active{
		background-color: #335a39;
}
.contenedorPeque{
	z-index: 4;
	height: 85px;
	width: 150px;
	position: absolute;
	padding:0 9px ;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
	background: #91b0d017;
	margin: auto;
	}
	.contenedorPeque label {
		margin: 0 auto;
		text-align: center;
		display: block;
	}

input:focus,input:active,button:focus,button:active{
		outline:none;
}
.form-style-10 input {
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 49%;
	padding: 6px;
	font-size: 16px;
	font-family: Helvetica;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.form-style-10 label{
	display: block;
	font: 16px Arial, Helvetica, sans-serif;
	color: #fff;
	margin-bottom: 15px;
	width: 220px;
}
	
	

.slider {
	-webkit-appearance: none;
	width: 220px;
	background: #bbbbbb;
	outline: none;
	opacity: 0.7;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: #000;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	background: #1a6cb5;
	cursor: pointer;
}
:root {
	--background-color: rgb(50, 50, 50);
	--acid-height: 0;
	--display-charging: "none";
}

.cell {
	width: 285px;
	height: 114px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	margin:auto;
	left: 0;
	right: 0;
}

.percentage {
	font-size: 100%;
	font-weight: bold;
	color: white;
	margin-top: 15px;
	font-family: Helvetica
}
.percentage i {
	margin-right: 6px;
	display: var(--display-charging);
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	margin: 5px;
	font-size: 80%;
	color: rgba(255, 255, 255, 0.5);
	transition: .2s ease-in-out;
}
.info:hover {
	color: white;
}
.info i {
	margin-right: 5px;
}
.info a {
	color: inherit;
}

.battery {
	position: relative;
	width: 250px;
	height: 70px;
	border: 4px solid #FFF;
	border-radius: 25px;
}
.battery:after {
	position: absolute;
	top: 20px;
	right: -14px;
	width: 10px;
	height: 30px;
	background-color: #FFF;
	border-radius: 0px 5px 5px 0px;
	content: '';
}

.acid-container {
	overflow: hidden;
	height: calc(100% - 8px);
	border-radius: 18px;
	margin: 4px;
}
.acid-container .acid {
	height: 250px;
	display: flex;
	flex-direction: column;
	flex-flow: column-reverse;
}
.acid-container .acid .fill {
	background: white;
	height: var(--acid-height);
	width: 100%;
	flex-shrink: 0;
	transition: height 2s ease-in-out, background-color .5s ease-out;
}
.acid-container .acid .waves {
	display: block;
	width: 100%;
	height: 10px;
	margin-bottom: -1px;

}
.acid-container .acid .waves .parallax > use {
	-webkit-animation: move-forever 12s linear infinite;
	animation: move-forever 12s linear infinite;

}
.acid-container .acid .waves .parallax > use:nth-child(1) {
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
	fill: rgba(255, 255, 255, 0.6);
	
}
.acid-container .acid .waves .parallax > use:nth-child(2) {
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	fill: rgba(255, 255, 255, 0.8);

}
.acid-container .acid .waves .parallax > use:nth-child(3) {
	-webkit-animation-delay: -4s;
	animation-delay: -4s;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	fill: white;

}	*/
@-webkit-keyframes move-forever {
	0% {
		-webkit-transform: translate(-90px, 0%);
		transform: translate(-90px, 0%);
	}
	100% {
		-webkit-transform: translate(85px, 0%);
		transform: translate(85px, 0%);
	}
}
@keyframes move-forever {
	0% {
		-webkit-transform: translate(-90px, 0%);
		transform: translate(-90px, 0%);
	}
	100% {
		-webkit-transform: translate(85px, 0%);
		transform: translate(85px, 0%);
	}
}

/*	font-family: 'RoboFont';
	src: url('{% static 'fonts/Bank Gothic Medium.ttf' %}');
}*/