label
{
	font-family: Helvetica;
}
table, th, td
{
	border: 1px solid black;
	text-align: center;
	line-height: 63px;
}
input
{
	padding: 0;
	border: none;
	background: none;
}

.sensors
{
	margin-top: 15px;
	background: #dddddd20;
}

/* Sensor database information. */
#sensors_info
{
	z-index: 2;
	height: 470px;
	width: calc(30vw - 4% - 50px);
	position: absolute;
	padding:2%;
	top: 120px;
	bottom: 0;
	left: 700px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	background: #00000020;
}
.sensors_title
{
	position: relative;
	top: 0px;
	text-align: center
}
.categories
{
	position: relative;
	top: 50px;
	right: 10px
}

/* Sensor measurements. */
#sensors_measurements
{
	z-index: 4;
	height: 470px;
	width: calc(40vw - 4% - 100px);
	position: absolute;
	padding:2%;
	top: 120px;
	bottom: 0;
	left: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	background: #00000020
}
.sensors_measurements_title
{
	position: relative;
	top: 0px;
	text-align: center
}
.sensors_measurements_box
{
	text-align: center;
	margin-top: 10px;
}
.sensors_measurements_box input
{
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 49%;
	padding: 6px;
	font-size: 16px;
	font-family: Helvetica;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.sensors_measurements_box_2
{
	text-align: center;
}
.sensors_measurements_box_2 input
{
	display: block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 49%;
	padding: 6px;
	font-size: 16px;
	font-family: Helvetica;
	border-radius: 6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border: 2px solid #fff;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.sensors_measurements_box_title
{
	display: inline-block;
	margin-right: 10%;
	text-align: left;
}
#temperature
{
	background: white;
	color:black;
	width: 100%;
	display: inline-block;
}
#ph
{
	background: white;
	color:black;
	width: 100%;
	display: inline-block;
}
#humidity
{
	background: white;
	color:black;
	width: 100%;
	display: inline-block;
}
#air_quality
{
	background: white;
	color:black;
	width: 100%;
	display: inline-block;
}


/*EVA*/
#EVA_info
{
	z-index: 1;
	height: 300px;
	width: calc(100vw - 4% - 50px);
	position: absolute;
	padding:1%;
	top: 600px;
	bottom: 0;
	left: 50px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
	background: #00000020;
	margin: auto;
}
#EVA_table
{
	width:100%;
	position: relative;
	top:-20px
}
/*Sample 1*/
#EVA_1_1
{
	background:indianred;
}
#EVA_1_2
{
	background:lightgreen;
}
#EVA_1_3
{
	background:lightgreen;
}
#EVA_1_4
{
	background:lightgreen;
}
#EVA_1_5
{
	background:lightgreen;
}
#EVA_1_6
{
	background:lightgreen;
}
/*Sample 2*/
#EVA_2_1
{
	background:lightblue;
}
#EVA_2_2
{
	background:lightblue;
}
#EVA_2_3
{
	background:lightblue;
}
#EVA_2_4
{
	background:lightblue;
}
#EVA_2_5
{
	background:lightblue;
}
#EVA_2_6
{
	background:lightblue;
}
/*Sample 3*/
#EVA_3_1
{
	background:lightblue;
}
#EVA_3_2
{
	background:lightblue;
}
#EVA_3_3
{
	background:lightblue;
}
#EVA_3_4
{
	background:lightblue;
}
#EVA_3_5
{
	background:lightblue;
}
#EVA_3_6
{
	background:lightblue;
}
#EVA_pos
{
	background:lightyellow;
}



/*Sample 1*/
#EVA_1_1 input
{
	width:100%;
}
#EVA_1_2 input
{
	width:100%;
}
#EVA_1_3 input
{
	width:100%;
}
#EVA_1_4 input
{
	width:100%;
}
#EVA_1_5 input
{
	width:100%;
}
#EVA_1_6 input
{
	width:100%;
}
/*Sample 2*/
#EVA_2_1 input
{
	width:100%;
}
#EVA_2_2 input
{
	width:100%;
}
#EVA_2_3 input
{
	width:100%;
}
#EVA_2_4 input
{
	width:100%;
}
#EVA_2_5 input
{
	width:100%;
}
#EVA_2_6 input
{
	width:100%;
}
/*Sample 3*/
#EVA_3_1 input
{
	width:100%;
}
#EVA_3_2 input
{
	width:100%;
}
#EVA_3_3 input
{
	width:100%;
}
#EVA_3_4 input
{
	width:100%;
}
#EVA_3_5 input
{
	width:100%;
}
#EVA_3_6 input
{
	width:100%;
}
#EVA_pos input
{
	width:100%;
}

/*img*/
#sample_img
{
	z-index: 4;
	position: absolute;
	padding:2%;
	top: 80px;
	right: 50px;
}