<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">Measurements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">EVA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Weather Station</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Live</a>
    </li>
  </ul>
  <div class="row">
    <div class="card">
    	<div class="card-body">
        <div class="row">
          <div class="col">
            <app-measurements></app-measurements>
          </div>
          <div class="col">
            <app-analysis></app-analysis>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
      	<div class="card-body">
          <div class="col">
            <div class="row">
              <app-station></app-station>
            </div>
            <div class="row">
              <app-drilling></app-drilling>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <app-eva></app-eva>
    </div>
    <div class="col">
      <app-live></app-live>
    </div>
  </div>
</div>
