body {
	background-color: #161616;
	height: 85vh;
}
*{
	color: white;
}
button
{
	color: black;
}
input
{
	background-color: white;
	color: black;
}
.columnasContenido {
	margin: 18px;
	background-color: #161616;
	border: #e4b503 !important;
}
#lista {
	height: 100%;
	overflow: auto;
	font-size: large;
	padding: 3%;
}
.inputData {
	width: -webkit-fill-available;
	height: 310px;
}
td {
	text-align: left;
}
.mensajeMostrar {
	display: inline;
	color: black;
}
td div {
	width: 50%;
}
.col,
.card,
html {
	height: 100%;
}
.row {
	height: 100%;
	width: 100%;
}
/* .card {
	padding: 20px;
} */
.col {
	padding: 30px;
}
.border-warning {
	padding: 15px;
}
#Layer1 {
	width: auto;
	height: 100%;
	overflow: scroll;
	border: outset;
	border: inherit;
}
#topicoTitulo {
	height: 10%;
	margin-top: 5px;
}
#contenedorData {
	height: 50%;
	width: 100%;
	border: inherit;
}
.texto {
	text-align: left;
}



#topics
{
	background-color: white;
	color: black;
  height: 100%;

}
.col-sm{
  height: 80vh;
}
