<div class="card border-warning bg-transparent text-center">
  <div class="card-body bg-black mt-0 pt-0 px-2 mx-2">
    <div class="table-responsive-sm">
      <table class="table table-dark bg-transparent">
        <thead>
          <tr>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">
              <button type="button" id="vert" class="btn btn-outline-warning" (click)="isCollapsedEVA = !isCollapsedEVA" [attr.aria-expanded]="!isCollapsedEVA" aria-controls="collapseEVA">
                EVA
              </button>
              <div id="collapseEVA" [ngbCollapse]="isCollapsedEVA">
                <div class="row">
                  <div class="col">
                    <div class="card-transparent">
                      <div class="card-body">
                        <app-eva></app-eva>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
            <th scope="row">
              <button type="button" id="vert" class="btn btn-outline-warning" (click)="isCollapsedMeas = !isCollapsedMeas" [attr.aria-expanded]="!isCollapsedMeas" aria-controls="collapseMeas">
                Measurements
              </button>
              <div id="collapseMeas" [ngbCollapse]="isCollapsedMeas">
                <div class="row">
                  <div class="col">
                    <div class="card-transparent">
                      <div class="card-body">
                        <app-measurements></app-measurements>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </th>
          </tr>
          <tr>
          <th scope="row">
            <button type="button" class="btn btn-outline-warning" (click)="isCollapsedAnalysis = !isCollapsedAnalysis" [attr.aria-expanded]="!isCollapsedAnalysis" aria-controls="collapseAnalysis">
              Analysis
            </button>
            <div id="collapseAnalysis" [ngbCollapse]="isCollapsedAnalysis">
              <div class="row">
                <div class="col">
                  <div class="card-transparent">
                    <div class="card-body">
                      <app-analysis></app-analysis>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </th>
          </tr>
          <!--< tr>
            <th scope="row">
              <button type="button" class="btn btn-outline-warning" (click)="isCollapsedDrill = !isCollapsedDrill" [attr.aria-expanded]="!isCollapsedDrill" aria-controls="collapseDrill">
                Drilling
              </button>
              <div id="collapseDrill" [ngbCollapse]="isCollapsedDrill">
                <div class="card-transparent">
                  <div class="card-body">
                    <app-drilling></app-drilling>
                  </div>
                </div>
              </div>
            </th>
          </tr> -->
          <!-- <tr>
            <th scope="row">
              <button type="button" class="btn btn-outline-warning" (click)="isCollapsedStation = !isCollapsedStation" [attr.aria-expanded]="!isCollapsedStation" aria-controls="collapseStation">
                Station
              </button>
              <div id="collapseStation" [ngbCollapse]="isCollapsedStation">
                <div class="card-transparent">
                  <div class="card-body">
                    <app-station></app-station>
                  </div>
                </div>
              </div>
            </th>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- COLLAPSE FUNCIONAL ANTERIOR -->
<!-- <div class="col-sm">
  <div class="card-transparent">
    <div class="card-body">
      <div class="card bg-transparent border-black">
        <div class="card-header text-center">
          <p>
            <button type="button" class="btn btn-outline-warning" (click)="isCollapsedEVA = !isCollapsedEVA" [attr.aria-expanded]="!isCollapsedEVA" aria-controls="collapseEVA">
            EVA
            </button>
            <button type="button" class="btn btn-outline-warning" (click)="isCollapsedMeas = !isCollapsedMeas" [attr.aria-expanded]="!isCollapsedMeas" aria-controls="collapseMeas">
            Measurements
            </button>
            <button type="button" class="btn btn-outline-warning" (click)="isCollapsedAnalysis = !isCollapsedAnalysis" [attr.aria-expanded]="!isCollapsedAnalysis" aria-controls="collapseAnalysis">
            Analysis
            </button>
            <button type="button" class="btn btn-outline-warning" (click)="isCollapsedDrill = !isCollapsedDrill" [attr.aria-expanded]="!isCollapsedDrill" aria-controls="collapseDrill">
            Drilling
            </button>
            <button type="button" class="btn btn-outline-warning" (click)="isCollapsedStation = !isCollapsedStation" [attr.aria-expanded]="!isCollapsedStation" aria-controls="collapseStation">
            Station
            </button>
          </p>
        </div>
        <div class="card-body bg-transparent">
          <div id="collapseEVA" [ngbCollapse]="isCollapsedEVA">
            <div class="row">
              <div class="col">
                <div class="card-transparent">
                  <div class="card-body">
                    <app-eva></app-eva>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="collapseMeas" [ngbCollapse]="isCollapsedMeas">
            <div class="row">
              <div class="col">
                <div class="card-transparent">
                  <div class="card-body">
                    <app-measurements></app-measurements>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="collapseAnalysis" [ngbCollapse]="isCollapsedAnalysis">
            <div class="row">
              <div class="col">
                <div class="card-transparent">
                  <div class="card-body">
                    <app-analysis></app-analysis>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="collapseDrill" [ngbCollapse]="isCollapsedDrill">
            <div class="card-transparent">
              <div class="card-body">
                <app-drilling></app-drilling>
              </div>
            </div>
          </div>
          <div id="collapseStation" [ngbCollapse]="isCollapsedStation">
            <div class="card-transparent">
              <div class="card-body">
                <app-station></app-station>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
