<div class="card-transparent">
	<div class="card-body">
		<div class="row">
			<h5 class="card-title">Database analysis description</h5>
		</div>
		<div class="row">
			<div class="col">
				<div class="categories">
					<pre><b>Temperature:</b></pre>
					<pre>	Tropical or megathermal.</pre>
					<pre><b>PH:</b></pre>
					<pre>	Alkaline.</pre>
					<pre><b>CO:</b></pre>
					<pre>	Volcanic gases.</pre>
					<pre><b>Humidity:</b></pre>
					<pre>	Perhumid.</pre>
				</div>
			</div>
			<div class="col">
				<div class="card-transparent">
					<div class="card-body">
						<div class="row">
								<h5 class="card-title">Graphs</h5>
						</div>
						<!-- <div class="row">
								<img src="../../../assets/pirita.jpg" alt="Rocks" width="150px">
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="sensors_info">
	<div class="sensors_title">
		<label>
			<b>Sample 1.1 - Database analysis description</b>
		</label>
	</div>
	<div class="categories">
		<pre><b>Temperature:</b></pre>
		<pre>	Tropical or megathermal.</pre>

		<pre><b>PH:</b></pre>
		<pre>	Alkaline.</pre>

		<pre><b>CO:</b></pre>
		<pre>	Volcanic gases.</pre>

		<pre><b>Humidity:</b></pre>
		<pre>	Perhumid.</pre>
	</div>
</div> -->
