<div class="container">
	<!-- <div class="card border-warning bg-transparent"> -->
		<!-- <div class="card-body bg-black"> -->
			<div class="row">
				<div class="col">
					<table id="EVA_table">
						<tr>
							<th id="EVA_1_1">
								Ambient Temperature:
								<br>
							<!-- </th>
							<th id="EVA_1_3"> -->
								<input disabled id="amb_temp" name="field1"/>
							</th>
						</tr>
						<tr>
							<th id="EVA_1_1">
								Ambiente Moisture:
								<br>
							<!-- </th>
							<th id="EVA_1_3"> -->
								<input disabled id="amb_hum" name="field2"/>
							</th>
						</tr>
						<tr>
							<th id="EVA_1_1">
								Wind Velocity:
								<br>
							<!-- </th>
							<th id="EVA_1_3"> -->
								<input disabled id="wind_vel" name="field1"/>
							</th>
						</tr>
						<tr>
							<th id="EVA_1_1">
								Wind Direction:
								<br>
							<!-- </th>
							<th id="EVA_1_3"> -->
								<input disabled id="wind_dir" name="field1"/>
							</th>
						</tr>
					</table>
				</div>
				<div class="col">
					<img class="card-img-top" src="/static/assets/Sensors/anemometer.gif" alt="Anemometer img" width="10px"/>
				</div>
			</div>
		<!-- </div> -->
	<!-- </div> -->
</div>
