<!-- Seleccion de topico -->
<div class="cardRB card text-center">
  <div class="card-body">
    <h5> Select Topic to Publish to </h5>
    <select name="select">
      <option value="topic1" selected>Topic 1</option> 
      <option value="topic2" >Topic 2</option>
      <option value="topic3">Topic 3</option>
    </select>
  </div>
</div>

<!-- Circulo -->
<div class="cardRB card">
  <div class="card-body">
    <div class="mat-app-background basic-container">
    <div class="example-boundary">
      <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
      </div>
      </div>
    </div>

  </div>
</div>