body {
	margin: 0;
	/*height: 80vh;*/
	background: #161616 !important;   
	padding:0.25em;
}
.card {
	padding: 29px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);

	/* background-image: url(https://electricayelectronica.uniandes.edu.co/sites/default/files/estudiantes/Robot-Robocol.jpeg); */
}
#stateTests {
	height: 65vh;
	/*background-image: url(../
		/static/assets/Rover_icon_status.png);*/	
	background-repeat: no-repeat;
	background-position-x: center;
}
#batteries {
	height: 30vh;
}

.button_enabled_motors {
	background: #449850;
	border: 0;
	/*color:#fff;*/
	width: 100%;
	display: block;
	cursor: pointer;
	border-radius: 0.25em;
	/*margin-top: 5px;
    padding:3px;*/
}
.button_enabled_motors:active {
	background-color: #1d4e25;
}
.contenedorPeque {
	z-index: 4;
	height: 85px;
	width: 150px;
	position: absolute;
	padding: 0 9px;
	border-radius: 0.25em;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.41);
	margin: auto;
}
.contenedorPeque label {
	margin: 0 auto;
	text-align: center;
	display: block;
}
#state_tests {
	top: 15%;
	/* left: 5%; */
}
#state_tests1 {
	top: 45%;
	/* left: 25px; */
}
#state_tests2 {
	top: 70%;
	/* left: 25px; */
}
#state_tests3 {
	top: 15%;
	right: 25px;
}
#state_tests4 {
	top: 45%;
	right: 25px;
}
#state_tests5 {
	float: right;
	top: 70%;
	right: 25px;
}
#state_tests6 {
	top: 80%;
	right: 278px;
	height: 42px;
}
.carga {
	width: auto;
	height: 10%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.41);
	/* background-color: aquamarine; */
}
.row .contenedorBateria {
	border-width: thick;
	padding: 0;
	height: 95%;
	background: rgb(33, 37, 41);
	background: linear-gradient(
		0deg,
		rgba(33, 37, 41, 1) 0%,
		rgba(228, 181, 3, 1) 100%
	);
}
.puntaBateria {
	margin: auto;
	justify-content: space-evenly;
	width: 35px;
	background: #e4b503;
	height: 5%;
	padding: 0;
}
.row {
	height: 100%;
}
.bateria {
	height: 100%;
	width: 50%;
	margin-bottom: 0;
	margin: auto;
}
.card{
	border-radius: 8px;
	margin-bottom:15px;
}
.columnaCamara{
	/*height: 100%;*/
	margin-bottom:15px;

}
#descripcionBateria{
	font-size: small; margin: 0;color: rgba(228, 181, 3, 1)
}