<div class="row" style="margin-top: 15px">

	<div class="col-4" style="width: 100%">
		<img src="../../../assets/arm_labels.png" alt="Brazo">
	</div>

	<div class="col-4">
		<div class="row">
			<div class="col-6">
			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 1:</label>
				<div class="row align-items-center justify-content-center">
					<button id="1_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="1_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>

			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 2:</label>
				<div class="row align-items-center justify-content-center">
					<button id="2_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="2_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>

			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 3:</label>
				<div class="row align-items-center justify-content-center">
					<button id="3_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="3_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>

			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 4:</label>
				<div class="row align-items-center justify-content-center">
					<button id="4_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="4_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>
		</div>

		<div class="col-6">
			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 5:</label>
				<div class="row align-items-center justify-content-center">
					<button id="5_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="5_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>

			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 6:</label>
				<div class="row align-items-center justify-content-center">
					<button id="6_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="6_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>

			<div class="col align-items-center justify-content-center columna_botones">
				<label style="color: black" class="align-items-center justify-content-center">Joint 7:</label>
				<div class="row align-items-center justify-content-center">
					<button id="7_ATRAS" type="button" class="btn btn-secondary button_left"><=</button>
					<button id="7_ADELANTE" type="button" class="btn btn-secondary button_right">=></button>
				</div>
			</div>
		</div>
		</div>
	</div>


	<div class="col-4">
		<div class="row">
			<div class="col-6">
			<label>Joint 1:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint1"><br>
			<label>Joint 2:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint2"><br>
			<label>Joint 3:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint3"><br>
			<label>Joint 4:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint4"><br>
		</div>
		<div class="col-6">
			<label>Joint 5:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint5"><br>
			<label>Joint 6:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint6"><br>
			<label>Joint 7:</label><input disabled style="color: black;padding: 5px;font-size: 12px;margin-bottom: 50px" name="" value="0" id = "joint7"><br>
		</div>
			<label style="font-weight: 100;margin-bottom: 10px;display: inline-block;margin-right: 20px">End Effector:</label><br>
			<input type="range" min="0" max="255" value="0" class="slider" id="garra" onchange="sendMessage(this.value)">
		</div>
	</div>

</div>

		
