.card-horizontal
{
    display: flex;
    flex: 1 1 auto;
}
label
{
	font-family: Helvetica;
}
th
{
	font-family: Helvetica;
    color: white;
}
#dip_sw
{
	background: white;
	color:black;
	width: 100%;
	display: inline-block;
}
#leds
{
	background: white;
	color:black;
	width: 100%;
	display: inline-block;
}

.rotateimg180
{
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}