#cam
{
  width: 80%;
}
.vid
{
  width: 100%;
}


/* h2
{
  font-family: Helvetica;
  text-align: center;
} */

/* label
{
	font-family: Helvetica;
}
input
{
	padding: 0;
	border: none;
	background: none;
} */

/*img*/
/* #sample_img
{
	z-index: 4;
	position: absolute;
	padding:2%;
	top: 80px;
	right: 50px;
} */


.no-gutters
{
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 10;
    padding-left: 10;
    padding-right: 10;
    padding-left: 10;
  }
}
