<div class="card border-warning bg-transparent text-center ml-1 mr-1">
	<!-- <div class="card-header text-warning">
    Live Stream!
  </div> -->
	<div class="card-body bg-black mt-2 pt-0">
		<div class="container-fluid px-lg-0">
			<!-- <div class="col"> -->
				<div class="row mx-lg-n4">
		<!-- <div class="card-transparent text-center"> -->
      <!-- <div class="row">
        <div class="<col span="1">
          <img class="card-img-top" src="/static/assets/countdown.gif" alt="Card image cap"/>
        </div>
        <div class="<col span="3">">
          <a href="#" class="btn btn-warning">Photo!</a>
  				<a href="#" class="btn btn-secondary">Pause</a>
  				<a href="#" class="btn btn-danger">Record</a>
        </div>
      </div> -->
      <!-- <div class="row pt-0 pb-0 pl-0 pr-0 mt-0 mb-0 ml-0 mr-0"> -->
        <div class="col">

					<div class="d-flex flex-column align-items-center">
						<div class="p-1">
							<video #video class="vid" autoplay></video>
						</div>
						<!-- <div class="pb-2">
							<button class="btn btn-primary" (click)="capture()">Capture Image</button>
						</div> -->
						<!-- <div class="p-1">
							<canvas #canvas class="vid"></canvas>
						</div> -->
					</div>




          <!-- <div class="col py-5 px-lg-8 border"> -->
            <!-- <img src="/static/assets/countdown.gif" class="img-fluid" alt="Responsive image"> -->
            <!-- <img class="card-img-top border" src="/static/assets/countdown.gif" alt="Video 1" height="500px"/> -->
						<!-- <img class="card-img-top" src="/static/assets/Sensors/Cam_2_Sensors.jpg" alt="Video 1"/> -->
						<!-- width="10px" -->
            <!-- <img class="card-img-top" style="width: 45vw; padding: 0px 0px;" src="/static/assets/countdown.gif" alt="Card image cap"/> -->
          </div>

          <!-- <div class="col py-1 px-lg-1 border">
              <a href="#" class="btn btn-warning">Photo!</a>
							<br>
              <a href="#" class="btn btn-secondary">Pause</a>
							<br>
              <a href="#" class="btn btn-danger">Record</a>
          </div> -->

        <!-- </div> -->
      <!-- </div> -->
			</div>
			<div class="row mx-lg-n4">

      <div class="col">
				<div class="d-flex flex-column align-items-center">
					<div class="p-1">
						<video #video2 class="vid" autoplay></video>
					</div>
					<!-- <div class="pb-2">
						<button class="btn btn-primary" (click)="capture()">Capture Image</button>
					</div> -->
					<!-- <div class="p-1">
						<canvas #canvas class="vid"></canvas>
					</div> -->
				</div>
				<!-- <div class="col py-3 px-lg-3"> -->
			    <!-- <img class="card-img-top" src="/static/assets/countdown.gif" alt="Video 2" width="10px"/> -->
					<!-- <img class="card-img-top" src="/static/assets/Sensors/Cam_1_Sensors.jpg" alt="Video 2"/> -->
          <!-- <img class="card-img-top" style="padding: 0px 0px;" src="/static/assets/countdown.gif" alt="Card image cap"/> -->
        </div>
        <!-- <div class="col"> -->

				<!-- <div class="col py-3 px-lg-3">
          <a href="#" class="btn btn-warning">Photo!</a>
					<br>
					<a href="#" class="btn btn-secondary">Pause</a>
					<br>
					<a href="#" class="btn btn-danger">Record</a>
        </div> -->

          <!-- <div class="row"> -->
          <!-- </div> -->
          <!-- <div class="row"> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>



