<div class="card-transparent bg-transparent">
	<div class="card-body bg-black">
		<div class="row">
			<div class="col">
				<h2 class="card-title">Live Stream!</h2>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<img class="card-img-top bg-black" src="../../../assets/countdown.gif" alt="Rocks" width="250px" >
			</div>
			<div class="col">
				<img class="card-img-top" src="../../../assets/countdown.gif" alt="Rocks" width="250px" >
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button type="button" class="btn btn-warning">Pause</button>
				<button type="button" class="btn btn-secondary">Photo!</button>
				<button type="button" class="btn btn-danger">Record</button>
			</div>
			<div class="col">
				<button type="button" class="btn btn-warning">Pause</button>
				<button type="button" class="btn btn-secondary">Photo!</button>
				<button type="button" class="btn btn-danger">Record</button>
			</div>
		</div>
	</div>
</div>
