<div class="col justify-content-center" style="margin-top: 15px; height: 100%;">
   <div class="row justify-content-center align-middle text-center">
  	<h1>Esta es la primera fila</h1>
   </div>
   <div class="row align-middle">
  	<div class="col-3 justify-content-center align-middle text-center">
   		<app-brazo-cinematica-directa></app-brazo-cinematica-directa>
   	</div>
   	<div class="col-5 justify-content-center align-middle text-center">
   		<app-brazo-cinematica-inversa-rotacion></app-brazo-cinematica-inversa-rotacion>
   	</div>
   	<div class="col-2 justify-content-center align-middle text-center">
   		<app-brazo-cinematica-inversa-vertical></app-brazo-cinematica-inversa-vertical>
   	</div>
   	<div class="col-2 justify-content-center align-middle text-center">
   		<app-brazo-cinematica-inversa-horizontal></app-brazo-cinematica-inversa-horizontal>
   	</div>
   </div>
</div>