<div class="row justify-content-center" style="margin-top: 15px">
   <div class="col-md-6 col-lg-6 text-center justify-content-center">
      <div class="card text-center border-warning" style="background-color: transparent; margin-bottom: 30px;">
         <div class="card-header border-warning text-warning">
            Cámaras
         </div>
         <div class="card-body border-warning">
            <app-live></app-live>
         </div>
      </div>
      <div class="card text-center border-warning" style="background-color: transparent; margin-bottom: 30px;">
         <div class="card-header border-warning text-warning">
            Operation analisis - Safety level
         </div>
         <div class="card-body border-warning">
            <app-analisis-operacion></app-analisis-operacion>
         </div>
      </div>
   </div>
   <div class="col-md-6 col-lg-6 justify-content-center text-center">
      <div class="card text-center border-warning" style="background-color: transparent; margin-bottom: 30px;">
         <div class="card-header border-warning text-warning">
            <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="inversa directa">Cinemática directa/inversa</button>
         </div>
         <div class="card-body border-warning">
            <div class="col">
               <div class="collapse multi-collapse show" id="inversa">
                  <app-brazo-cinematica-inversa></app-brazo-cinematica-inversa>
               </div>
            </div>
            <div class="col">
               <div class="collapse multi-collapse" id="directa">
                  <app-brazo-cinematica-directa></app-brazo-cinematica-directa>
               </div>
            </div>
         </div>
      </div>
      <div class="card text-center border-warning" style="background-color: transparent; margin-bottom: 30px;">
         <div class="card-header border-warning text-warning">
            Operación por coordenadas
         </div>
         <div class="card-body border-warning">
            <app-brazo-coordenadas></app-brazo-coordenadas>
         </div>
      </div>
   </div>
</div>