<div class="row">
	<div class="col">
		<h6 style="margin-bottom: 15px;">Coordenadas deseadas</h6>
		<div class="row justify-content-center text-center">
			<p style="margin-right: 15px;">X: </p>
			<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 70px; height: 30px;" name="" value="25 m" id = "xDeseada">
		</div>
		<div class="row justify-content-center text-center">
			<p style="margin-right: 15px;">Y: </p>
			<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 70px; height: 30px;" name="" value="25 m" id = "yDeseada">
		</div>
		<div class="row justify-content-center text-center">
			<p style="margin-right: 15px;">Z: </p>
			<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 70px; height: 30px;" name="" value="25 m" id = "zDeseada">
		</div>
	</div>
	<div class="col">
		<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 100%; height: 100%;" name="" value="ROS ;)" id = "rosText">
	</div>
	<div class="col">
		<h6 style="margin-bottom: 15px;">Coordenadas actuales</h6>
		<div class="row justify-content-center text-center">
			<p style="margin-right: 15px;">X: </p>
			<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 70px; height: 30px;" name="" value="25 m" id = "xActual">
		</div>
		<div class="row justify-content-center text-center">
			<p style="margin-right: 15px;">Y: </p>
			<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 70px; height: 30px;" name="" value="25 m" id = "yActual">
		</div>
		<div class="row justify-content-center text-center">
			<p style="margin-right: 15px;">Z: </p>
			<input class="justify-content-center text-center" disabled style="color: black;font-size: 15px; width: 70px; height: 30px;" name="" value="25 m" id = "zActual">
		</div>
	</div>
</div>
<div class="row" style="margin-top: 15px;">
	<div class="col">
		<button style="width: 80px;">Ir</button>
	</div>
	<div class="col">
		<button style="margin-bottom: 7px;width: 80px;">Plan</button>
		<button style="margin-bottom: 7px;width: 80px;">Execute</button>
		<button style="width: 80px;">Plan & execute</button>
	</div>
	<div class="col">
		<button style="margin-bottom: 7px; width: 80px;">Stop</button>
		<button style="width: 80px;">Cancel</button>
	</div>
</div>
