
<div class="row">
  <div class="column ccamera">
    <img class="img-responsive" src="http://192.168.1.106:8080/stream?topic=/cam1">
  </div>
  <div class="column cpanel">
    <!-- Panel -->
    <table>
      <tbody>
        <tr class="justify-content-center text-center align-middle">
          <!-- Panel-Abort -->
          <div class="img-wrapper">
            <!-- <img class="img-responsive" src="../../../static/assets/Submarino/abort.png" /> -->
            <button
            class="btn btn-default btn-block"
            (mousedown)="abort()"
            > ABORT
            </button>
          </div>
        </tr>
        <tr class="justify-content-center text-center align-middle">
          <app-horizontal [navegacionService]="navegacionService"></app-horizontal>
        </tr>
        <tr class="justify-content-center text-center align-middle">
          <app-vertical [navegacionService]="navegacionService"></app-vertical>
        </tr>
        <tr class="justify-content-center text-center align-middle">
          <app-roll-pitch [navegacionService]="navegacionService"></app-roll-pitch>
        </tr>
        <tr class="justify-content-center text-center align-middle">
          <app-potencia [navegacionService]="navegacionService"></app-potencia>
        </tr>
      </tbody>
    </table>
  </div>
</div>


