button {
  color: #e4b503;
}
.ccamera {
  width: 70%;
}

.cpanel {
  width: 30%;
}

.rabort {
  height: 30%;
}

.rhorizontal {
  height: 25%;
}

.rvertical {
  height: 10%;
}

.rrollpitch {
  height: 35%;
}

/*
table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
*/


