<h2> Telemetry </h2>

<!-- Tarjeta de Odometria -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h4> Odometry </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Distance 'x' from point
        <input disabled id="dist_x" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
      <div class="col">
        Distance 'y' from point
        <input disabled id="dist_y" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
    </div>

  </div>
</div>

<!-- Tarjeta de IMU -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h4> IMU </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        IMU Azimuth
        <input disabled id="azimuth_gui" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
      <div class="col">
        Lineal Speed
        <input disabled id="l_speed_gui" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
    </div>
  </div>
</div>

<!-- Tarjeta de PMW -->
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h4> PMW </h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
        Left PWM
        <input disabled id="PWM_I" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
      <div class="col">
        Right PWM
        <input disabled id="PWM_D" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
    </div>
    <div class="row">
      <div class="col">
        Steering Speed
        <input disabled id="teering_gui" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
      <div class="col">
        Physical Joystick Sensibility
        <input disabled id="sensibilidad_jk_fisico" name="field1"
          style="background: white;color:black;width: 100%;display: inline-block;" />
      </div>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-body">
    
    <div class="row">
      <h4> Sensibilidad </h4>
    </div>
    
    <div class="row">
      <!-- aqui poner la barra 
      <mv-slider [(value)]="value" [min]="1" [max]="100" [enabled]="enabled" (change)="change()"></mv-slider>
-->
    </div>
  </div>
</div>