<div class="row">
	<div class="col">
		<div class="card-transparent">
			<div class="card-body">
				<div class="row">
						<h5 class="card-title">Measurements</h5>
				</div>
			  <div class="row">
			    <div class="col">
						<table id="EVA_table">
							<tr>
								<th id="EVA_1_1">Temperature:</th>
								<th id="EVA_1_3"><input disabled id="temperature" name="field1"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">PH:</th>
								<th id="EVA_1_3"><input disabled id="ph" name="field2"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">Humidity:</th>
								<th id="EVA_1_3"><input disabled id="humidity" name="field1"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">Air Quality:</th>
								<th id="EVA_1_3"><input disabled id="air_quality" name="field1"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">CO:</th>
								<th id="EVA_1_3"><input disabled id="co" name="field1"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">CO2:</th>
								<th id="EVA_1_3"><input disabled id="co2" name="field2"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">Methane Concentration:</th>
								<th id="EVA_1_3"><input disabled id="methane" name="field1"/></th>
							</tr>
							<tr>
								<th id="EVA_1_1">Hydrogen Concentration:</th>
								<th id="EVA_1_3"><input disabled id="hydrogen" name="field1"/></th>
							</tr>
						</table>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card-transparent">
			<div class="card-body">
				<div class="row">
						<h5 class="card-title">Graphs</h5>
				</div>
				<div class="row">
					<!-- <div style="display: block">
						<canvas mdbChart
							[chartType]="chartType"
							[datasets]="chartDatasets"
							[labels]="chartLabels"
							[colors]="chartColors"
							[options]="chartOptions"
							[legend]="true"
							(chartHover)="chartHovered($event)"
							(chartClick)="chartClicked($event)">
						</canvas>
					</div> -->
					<div style="display: block">
						<canvas id="lineChart"></canvas>
					</div>
						<!-- <img src="../../../assets/pirita.jpg" alt="Rocks" width="150px"> -->
				</div>
			</div>
		</div>
	</div>
</div>

<!-- <div id="sensors_measurements">
	<div class="sensors_measurements_title">
		<label>
			<b>Sample 1.1 - Measurements</b>
		</label>
	</div>
	<div class="sensors_measurements_box">
		<label class="sensors_measurements_box_title">
			Temperature
			<div>
				<input disabled id="temperature" name="field1"/>
			</div>
		</label>
		<label class="sensors_measurements_box_title">
			PH
			<div>
				<input disabled id="ph" name="field2"/>
			</div>
		</label>
	</div>

	<div class="sensors_measurements_box_2">
		<label class="sensors_measurements_box_title">
			Humidity
			<div>
				<input disabled id="humidity" name="field1"/>
			</div>
		</label>
		<label class="sensors_measurements_box_title">
			Air Quality
			<div>
				<input disabled id="air_quality" name="field2"/>
			</div>
		</label>
	</div>

	<div class="sensors_measurements_box_2">
		<label class="sensors_measurements_box_title">
			CO
			<div>
				<input disabled id="humidity" name="field1"/>
			</div>
		</label>
		<label class="sensors_measurements_box_title">
			CO2
			<div>
				<input disabled id="air_quality" name="field2"/>
			</div>
		</label>
	</div>

	<div class="sensors_measurements_box_2">
		<label class="sensors_measurements_box_title">
			Methane Concentration
			<div>
				<input disabled id="humidity" name="field1"/>
			</div>
		</label>
		<label class="sensors_measurements_box_title">
			Hydrogen Concentration
			<div>
				<input disabled id="air_quality" name="field2"/>
			</div>
		</label>
	</div>

</div> -->
