<div class="container-fluid">
	<div class="row">
		<div class="col">
			<div class="table-responsive">
				<table class="table table-borderless table-sm">
					<tr>
						<th id="EVA_1_1" scope="row">
							Temperature:
							<br>
							<input disabled id="temperature" name="field1" value="{{ measurements?.temp }} °C"/>
						</th>
						<th id="EVA_1_1">
							PH:
							<br>
							<input disabled id="ph" name="field2" value="{{ measurements?.ph }}"/>
						</th>
					</tr>
					<tr>
						<th id="EVA_1_1">
							Humidity:
							<br>
							<input disabled id="humidity" name="field1" value="{{ measurements?.hum }} %"/>
						</th>
						<th id="EVA_1_1">
							CO:
							<br>
							<input disabled id="co" name="field1" value="{{ measurements?.co }} ppm"/>
						</th>
					</tr>
					<tr>
						<th id="EVA_1_1">
							Methane Concentration:
							<br>
							<input disabled id="methane" name="field1" value="{{ measurements?.met }} ppm"/>
						</th>
						<th id="EVA_1_1">
							Hydrogen Concentration:
							<br>
							<input disabled id="hydrogen" name="field2" value="{{ measurements?.hyd }} ppm"/>
						</th>
					</tr>
				</table>
				<button (click)="sendMsg()">Send</button>
			</div>
		</div>
		<!-- -------------------------- GRAPH -------------------------- -->
		<div class="col">
			<!-- <div style="display: block">
				<canvas mdbChart
					[chartType]="chartType"
					[datasets]="chartDatasets"
					[labels]="chartLabels"
					[colors]="chartColors"
					[options]="chartOptions"
					[legend]="true"
					(chartHover)="chartHovered($event)"
					(chartClick)="chartClicked($event)">
				</canvas>
			</div> -->
			Graph
			<br>
			<img class="card-img-top" src="/static/assets/Sensors/graph.gif" alt="Rocks">
		</div>
	</div>
</div>