/* The animation code */
@keyframes example
{
	  0%	{right:0px; top:-320px;}
	 10%	{right:0px; top:-280px;}
	 20%	{right:0px; top:-210px;}
	 30%	{right:0px; top:-140px;}
	 40%	{right:0px; top: -70px;}
	 50%	{right:0px; top:   0px;}
	 60%	{right:0px; top:  70px;}
	 70%	{right:0px; top: 140px;}
	 80%	{right:0px; top: 210px;}
	 90%	{right:0px; top: 270px;}
	100%	{right:0px; top: 320px;}
}

.no-gutters
{
	margin-right: 0;
	margin-left: 0;
	> .col,
	> [class*="col-"]
	{
		padding-right: 0;
		padding-left: 0;
	}
}

/* The element to apply the animation to */
#embudo
{
  width: 100%;
  height: auto;
  position: relative;
}
#status_but
{
	width: 100%;
	height: auto;
	background: black;
	/*background: url("/static/assets/Sensors/EVA/new_imgs/E(6).png")*/
}
#box_but
{
	width: 100%;
	height: auto;
	background: black;
	border: none;
	/*background: url("/static/assets/Sensors/EVA/new_imgs/E(10).png")*/
}
#move_but
{
	width: 100%;
	height: auto;
	background: black;
	/*background: url("/static/assets/Sensors/EVA/new_imgs/E(6).png")*/
}
#trash_but
{
	width: 100%;
	height: auto;
	background: black;
}

#status
{
  width: 100%;
  height: auto;
}
#box
{
  width: 100%;
  height: auto;
}
#trash
{
  width: 100%;
  height: auto;
}
#move
{
  width: 100%;
  height: auto;
}

.eva_box0_txt
{
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: black;
	font-family: 'Morris';
}
.eva_box1_txt
{
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: black;
	font-family: 'Morris';
}
.eva_box2_txt
{
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: black;
	font-family: 'Morris';
}
.eva_box3_txt
{
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: black;
	font-family: 'Morris';
}
.eva_box4_txt
{
	position: absolute;
	bottom: 10px;
	left: 30px;
	color: black;
	font-family: 'Morris';
}


.img_eva_container
{
  position: relative;
  text-align: center;
}

label
{
	font-family: Helvetica;
}

input
{
	padding: 0;
	border: none;
	background: none;
}
input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 100%;
}

input[type="number"] {
  width: inherit;
  margin-bottom: 1.5rem;
  color: white;
}