#top-bar
{
  background-color: black;
  /* font-family: "Morris"; */
  /* width: 100%; */
}
.nav-link
{
  color: goldenrod;
}

#page
{
  width: 100vw;
  font-family: "Morris";
}

#background
{
  background-color: #161616;
  border: 0px;
  width:100vw;
  height:100vh;
  font-family: "Morris";
}

/* .navbar-toggler
{ */
/* width: 47px; */
/* height: 34px; */
/* background-color: #ffffff;
} */


/* .navbar-toggler .line
{
  width: 100%;
  float: left;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
} */

/* .custom-toggler.navbar-toggler {
    border-color: lightgreen;
} */
