<header>
   <nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-fixed-top">
      <div class="navbar-header">
         <a class="navbar-brand" href="#"><img style="height: 48px; padding: 2px 10px;" src="../assets/robocol-BLANCO.png"></a>
      </div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a routerLinkActive="active" 
                  routerLink="/brazo" class="nav-link">Brazo <span class="sr-only">(current)</span>  </a>
            </li>
            <li class="nav-item">
               <a routerLinkActive="active" 
                  routerLink="/traccion" class="nav-link">Tracción <span class="sr-only">(current)</span>  </a>
            </li>
            <li class="nav-item">
               <a routerLinkActive="active" 
                  routerLink="/prueba" class="nav-link">Prueba <span class="sr-only">(current)</span>  </a>
            </li>
         </ul>
      </div>
   </nav>
</header>

<main role="main" class="container-fluid">
  <router-outlet></router-outlet>
</main>