<div cass="container-fluid">
  <div class="card-group">
    <div class="card">
      <img src="././assets/Rover.png" class="card-img-top" id="imgRover" alt="Rover">
      <div class="card-body">
        <h5 class="card-title">Rover</h5>
        <p class="card-text">
          <button type="button" class="btn btn-dark"
          (click)="login('ROVER')">Entra Aquí</button>
        </p>
        <p class="card-text"><small class="text-muted">Activo</small></p>
      </div>
    </div>
    <div class="card">
      <img src="././assets/Submarino.png" class="card-img-top" id="imgSubmarino" alt="Submarino">
      <div class="card-body">
        <h5 class="card-title">Submarino</h5>
        <p class="card-text">
          <button type="button" class="btn btn-dark"
          (click)="login('SUBMARINO')">Entra Aquí</button>
        </p>
        <p class="card-text"><small class="text-muted">Ultima vez activo hace 3 minutos</small></p>
      </div>
    </div>
    <div class="card">
      <img src="././assets/Lunabot.png" class="card-img-top" id="imgLunabot" alt="Lunabot">
      <div class="card-body">
        <h5 class="card-title">Lunabot</h5>
        <p class="card-text">
          <button type="button" class="btn btn-dark"
          (click)="login('LUNABOT')">Entra Aquí</button>
        </p>
        <p class="card-text"><small class="text-muted">Ultima vez activo hace 3 minutos</small></p>
      </div>
    </div>
  </div>


</div>

