
#imgRover
{
   -webkit-filter: invert(1);
   filter: invert(1);
   background-color: lightgrey;
}

#imgSubmarino
{
   -webkit-filter: invert(1);
   filter: invert(1);
   background-color: lightgrey;
   width: 101%;
}

#imgLunabot
{
   -webkit-filter: invert(1);
   filter: invert(1);
   background-color:  lightgrey;
   height: 50%;
   width: 80%;
}