.no-gutters
{
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/* label
{
	font-family: Helvetica;
}
.sensors
{
	margin-top: 15px;
	background: #dddddd20;
}

#left_side
{
	width: 50vw;
	background-color: white;
}

#right_side
{
	width: 49vw;
} */


/* button
{
  transform: rotate(-90deg);
} */
/* button span
{
    display: inline-block;
    transform: rotate(-90deg);
} */

#button_rotate
{
  vertical-align:top;
	transform:rotate(7deg);
  -ms-transform:rotate(-90deg); /* IE 9 */
  -moz-transform:rotate(-90deg); /* Firefox */
  -webkit-transform:rotate(-90deg); /* Safari and Chrome */
  -o-transform:rotate(-90deg); /* Opera */
}

#vert{
	height: auto;
	min-width: auto;
}

button,
input{
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;

  cursor:pointer;
  height:50px;
	min-width: 100px;
  position:relative;

	border: 1px solid #333;
	border-radius: 5px;
  padding: 0 10px;

	font-size: 20px;
}

input:hover{box-shadow:0px 0px 4px #fff;}
input:active{top:1px;}

body{background-color:#222;}

.button-container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3,1fr);
	justify-items: center;
	width: 400px;
	padding: 40px 0;
	margin: 0 auto;
}
