<div class="container-fluider px-lg-5 ">
	<br>
	<div class="row mx-lg-n4 align-items-start">
		<!-- COLUMN 1 -->
		<!-- <div class="col py-1 px-xl-1 align-self-start"> -->
		<div class="col-sm-5">
			<app-live></app-live>
		</div>
		<!-- COLUMN 2 -->
		<!-- <div class="col py-1 px-sm-1 align-self-start"> -->
		<div class="col-sm-3">
			<app-eva [sensoricaSocket]="sensoricaSocket"></app-eva>
		</div>
		<!-- COLUMN 3 -->
		<!-- <div class="col py-1 px-xl-1 align-self-start"> -->
		<div class="col-sm-4">
			<app-tabs [sensoricaSocket]="sensoricaSocket"></app-tabs>
		</div>
	</div>
</div>
